@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'roboto'
}

.productlist{
  display: flex;
  justify-content: space-evenly;
}
.products div{
  margin-bottom: 5vh;
}
.products div p{
  font-size: 15px;
  font-weight: 400;
}
a{
  text-decoration: none;
  border-radius: 15px;
  padding: 15px 20px;
  color: #fff;
  background-color: #6b6a6a;
  transition: all .3s ease;
}
a:hover{
  color: #000;
  border: 1px solid #6b6a6a;
  background-color: #d2d2d2;
  transition: all .3s ease;
}
